$secColor: #FF616D;
$mainColor:#7A7ADC;
$triColor: #444584;

html,body{
  background: darken( $triColor, 10% );

}
.text-main{
  color: $mainColor !important;
}

.text-sec{
  color: $secColor !important;
}

.bg-main-light{
  background: lighten( $mainColor, 10% )
}

p{
  font-weight: 600;
  font-size: larger;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.parallax-container {
  position: relative;
}
.parallax-title {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

.jumbotron{
  border-radius: 0px !important;
}

.mainFont{
  font-family: 'Lilita One', sans-serif;
}

.bg-main{
  background: darken( $triColor, 10% )
}

.bg-main-color{
  background: $mainColor;
}

.bg-sec{
  background: $secColor;
}

.simpleParallax{
  overflow: hidden;
  height: 300px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $triColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mainColor;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($mainColor,10%);
}
